<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pro IDE</title>
    <link rel="stylesheet" href="/static/css/ide.css">
    <script src="/static/libs/monaco/vs/loader.js"></script>
</head>
<body>

<div class="activity-bar">
    <div class="activity-item" onclick="openExplorer()">📁</div>
    <div class="activity-item" onclick="createFile()">📄</div>
    <div class="activity-item" onclick="createFolder()">📂</div>
</div>

    {% block content %}{% endblock %}
</body>
</html>
